<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>MobOrg Dashboard</title>
      <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      tr:nth-of-type(odd) {
        background: #eee;
      }

      th {
        background: #333;
        color: white;
        font-weight: bold;
      }

      th, td {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
      }
    </style>
  </head>
  <body class="p-4">
  <h1 class="text-3xl mb-6">Huddles</h1>
  <table>
      <thead>
      <tr>
          <th>Name</th>
          <th>Date/Time</th>
          <th># Registered</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="huddleSummaryView: ${ huddles }">
          <td th:text="${ huddleSummaryView.name }"></td>
          <td th:text="${ huddleSummaryView.dateTime }"></td>
          <td th:text="${ huddleSummaryView.numberRegistered }"></td>
      </tr>
      </tbody>
  </table>
  <hr>
  <form action="#" method="post" th:action="@{/schedule}" th:object="${scheduleHuddleForm}">
      <div>Name: <input th:field="*{name}" type="text"></div>
      <div>Date: <input th:field="*{date}" type="date"></div>
      <div>Time: <input th:field="*{time}" type="time"></div>
      <div>
          <button type="submit">Schedule New Huddle</button>
      </div>
  </form>
  </body>
</html>