<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Huddle</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
        </style>
    </head>
    <body class="p-4">
        <h1 class="text-3xl mb-6">Detail</h1>
        <p>Name: <span th:text="${ huddle.name }">Name</span></p>
        <p>Date/Time: <span th:text="${ huddle.startDateTime }">04/24/2021 10:00am PDT</span></p>
        <p>Duration: <span th:text="${ huddle.duration }">90 minutes</span></p>
        <p>Topic: <span th:text="${ huddle.topic }">Blackjack</span></p>
        <p>Current Size: <span th:text="${ huddle.size }">4/5</span></p>
    </body>
</html>